
<div class="container-fluid bg-light" style="color: black;"><br>
    <h2 style="font-family: 'Times New Roman'; text-align: center;"><b>About Me</b></h2>
    <div class="container" style="font-family: 'Times New Roman'; text-align: center;">
        <div class="row">
            <div class="col-9">
                <br><br>
                <h6>Bilingual software developer with experience in Web applications, Machine Learning and Mobile applications. Experience working in technology companies in addition to government, not only do I have knowledge in SQL, Java, PHP, Python and Git, but I have also managed to reduce the number of errors in the weekly reports of the projects that I have been involved in.</h6>
            </div>
            <div class="col-2">
                <img src="https://scontent.fzcl1-1.fna.fbcdn.net/v/t1.6435-9/158846502_1861954933967950_8364647897205014083_n.jpg?_nc_cat=102&ccb=1-5&_nc_sid=174925&_nc_eui2=AeF7aYqa7He2rH2tq1SsUUPZDB9957tJZ3kMH33nu0lneexRDP_YaYh4WH7P9-f7bT8b-XxuVXWWP5uumykmnUlY&_nc_ohc=0pcvFuEvPqcAX-GqZ4a&tn=KplxTUAC-2v3o9R6&_nc_ht=scontent.fzcl1-1.fna&oh=1ed7586ca50c4c89835069b980058b35&oe=61C628CA" width="100%" height="100%">
            </div>
        </div>
    </div>
    <!--
    <div class="row">
        <div class="col-6">
            <h2 style="font-family: 'Times New Roman'; text-align: center;"><b>Education</b></h2>
            <hr>
            <div class="row">
                <div class="col-3">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/f/f8/Logo_Instituto_Polit%C3%A9cnico_Nacional.png" width="100%" height="100%">
                </div>
                <div class="col-9" style="font-family: 'Times New Roman';">
                    <div class="row">
                        <div class="col-10">
                            <h3>Instituto Politecnico Nacional</h3>
                            <h5>Bachelor Degree in Computer Engineering</h5>        
                        </div>
                        <div class="col-2">
                            <img src="https://cdn-icons-png.flaticon.com/512/1233/1233678.png" width="100%" height="100%">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6" style="font-family: 'Times New Roman';">
            <h2 style="font-family: 'Times New Roman'; text-align: center;"><b>Languages</b></h2>
            <hr>
            <div class="row">
                <div class="col-3">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/d/d3/Logo_de_la_UAZ.svg" width="55%" height="55%">
                </div>
                <div class="col-9">
                    <div class="row">
                        <div class="col-3">
                            <h3>English</h3>
                        </div>
                        <div class="col-2">
                            <img src="https://cdn-icons-png.flaticon.com/512/206/206626.png" width="80%" height="80%">
                        </div>
                        <div class="col-6">
                            <br>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width: 60%"></div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-3">
                            <h3>French</h3>
                        </div>
                        <div class="col-2">
                            <img src="https://cdn-icons-png.flaticon.com/512/206/206657.png" width="80%" height="80%">
                        </div>
                        <div class="col-6">
                            <br>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width: 20%"></div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-3">
                            <h3>German</h3>
                        </div>
                        <div class="col-2">
                            <img src="https://cdn-icons-png.flaticon.com/512/555/555613.png" width="80%" height="80%">
                        </div>
                        <div class="col-6">
                            <br>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width: 20%"></div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>-->