<app-navegacion></app-navegacion>
<app-banner></app-banner>
<app-about-me></app-about-me>

<div class="col-12 col-md-12 bg-light" id="skills" style="font-family: 'Times New Roman'; text-align: center; color: black;">
    <br><hr>
    <h1>Skills</h1>
    <div class="row">
        <div class="col-2 col-md-2 col-sm-2">
            <img src="https://cdn-icons-png.flaticon.com/512/226/226777.png" width="50%" height="55%">
        </div>
        <div class="col-9 col-md-9 col-sm-9">
            <div class="progress" style="height: 20px;">
                <div class="progress-bar" role="progressbar" style="width: 75%;">75%</div>
              </div>
        </div>
    </div>
    <div class="row">
        <div class="col-2 col-md-2 col-sm-2">
            <img src="https://cdn-icons-png.flaticon.com/512/5968/5968292.png" width="50%" height="55%">
        </div>
        <div class="col-9 col-md-9 col-sm-9">
            <div class="progress" style="height: 20px;">
                <div class="progress-bar" role="progressbar" style="width: 45%;">45%</div>
              </div>
        </div>
    </div>
    
</div>
